{% extends 'base.html' %}
{% block title %}changer le décaissement petite caisse{% endblock %}
{% block script %}smallcrate.js
{% endblock %}
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Changer le décaissement petite caisse</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <div>Accueil</div>
                </li>
                <li class="breadcrumb-item">Petite caisse</li>
                <li class="breadcrumb-item active">Changer</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Information sur le décaissement petite caisse</h5>

                <form method="POST">
                    {% csrf_token %}
                    {% if smallcrate %}
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <label for="designation" class="col-form-label">Désignation</label>
                            <input type="text" class="form-control" name="designation" id="designation" value="{{smallcrate.designation}}" required>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="amount" class="col-form-label">Montant</label>
                            <input type="number" class="form-control" name="amount" id="amount" value="{{smallcrate.disbursement.amount}}" required>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row mb-3 mt-4">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success">Sauvegarder</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </section>
</main>
{% endblock %}