{% extends 'base.html' %}
{% block title %}changer le décaissement santé{% endblock %}
{% block script %}health.js
{% endblock %}
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Changer le décaissement santé</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <div>Accueil</div>
                </li>
                <li class="breadcrumb-item">Décaissement</li>
                <li class="breadcrumb-item active">Changer</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Information sur le décaissement santé</h5>

                <form method="POST">
                    {% csrf_token %}
                    {% if health %}
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <label for="registration_number" class="col-form-label">Numéro de matricule</label>
                            <input type="text" class="form-control" name="registration_number" id="registration_number" value="{{health.registration_number}}" required>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="last_name" class="col-form-label">Nom</label>
                            <input type="text" class="form-control" name="last_name" id="last_name" value="{{health.last_name}}" required>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="first_name" class="col-form-label">Prénom</label>
                            <input type="text" class="form-control" name="first_name" id="first_name" value="{{health.first_name}}" required>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="amount" class="col-form-label">Montant</label>
                            <input type="number" class="form-control" name="amount" id="amount" value="{{health.disbursement.amount}}" required>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="company" class="col-form-label">Société</label>
                            <input type="text" class="form-control" name="company" id="company" value="{{health.company}}" required>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="status" class="col-form-label">Statut</label>
                            <select class="form-select" name="status" id="status">
                                <option value="Assuré" {% if health.status == "Assuré" %} selected {% endif %}>Assuré</option>
                                <option value="Ayant le droit" {% if health.status == "Ayant le droit" %} selected {% endif %}>Ayant le droit</option>
                            </select>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row mb-3 mt-4">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success">Sauvegarder</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </section>
</main>
{% endblock %}