{% extends 'base.html' %}
{% block title %}ajouter un assuré{% endblock %}
{% block script %}insured.js
{% endblock %}
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Ajouter un assuré pour pour {{ responsible }}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <div>Accueil</div>
                </li>
                <li class="breadcrumb-item">Prime d'assurance</li>
                <li class="breadcrumb-item active">Assurés</li>
                <li class="breadcrumb-item active">Ajouter</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Information sur l'assuré</h5>

                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <label for="registration_number" class="col-form-label">Numéro de Matricule</label>
                            <input type="text" class="form-control" name="registration_number" id="registration_number" required>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <label for="insured" class="col-form-label">Assuré</label>
                            <input type="text" class="form-control" name="insured" id="insured" required>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <label for="status" class="col-form-label">Statut</label>
                            <select class="form-select" name="status" id="status">
                                <option value="Assuré">Assuré</option>
                                <option value="Ayant droit">Ayant droit</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3 mt-4">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success">Sauvegarder</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </section>
</main>
{% endblock %}