{% extends 'base.html' %}
{% block title %}Changer le mot de passe{% endblock %}
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Changer le mot de passe</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <div>Accueil</div>
                </li>
                <li class="breadcrumb-item">Utilisateur</li>
                <li class="breadcrumb-item active">Changer</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Information sur l'utilisateur</h5>

                <!-- General Form Elements -->
                <form method="POST" class="needs-validation" novalidate>
                    {% csrf_token %}
                    {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div>
                    <script>
                        setTimeout(function () {
                            window.location.href = "{% url 'change_password' user_id%}";
                        }, 3000);
                    </script>
                    {% endif %}
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Mot de passe</label>
                        <div class="col-sm-10 has-validation">
                            <input type="password" class="form-control" name="password" id="inputPassword" required>
                            <div class="invalid-feedback">Veuillez entrer le mot de passe.</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputConfirmPassword" class="col-sm-2 col-form-label">Confirmez le mot de
                            passe</label>
                        <div class="col-sm-10 has-validation">
                            <input type="password" class="form-control" name="confirm_password"
                                id="inputConfirmPassword" required>
                            <div class="invalid-feedback">Veuillez confirmer le mot de passe.</div>
                        </div>
                    </div>
                    <div class="row mb-3 mt-4">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-dark">Sauvegarder</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
</main>
{% endblock %}