{% extends 'base.html' %}
{% block title %}gestion des prestataires{% endblock %}
{% block script %}provider.js
{% endblock %}
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Liste des prestataires</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <div>Accueil</div>
                </li>
                <li class="breadcrumb-item">Prestataires</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <div
                    style="width: 100%; display: flex;align-items:center;justify-content:space-between;flex-direction: row;margin-top: 20px;margin-bottom: 20px;">
                    <form
                        style="width: 100%;display: flex;align-items: flex-start;justify-content: flex-start;flex-direction: row;"
                        method="POST">
                        {% csrf_token %}
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-search"></i></span>
                                <input type="text" class="form-control" id="search" name="search"
                                    placeholder="Recherchez un prestataire" required value="{{ search_query }}">
                            </div>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-success" style="margin-left: 10px;">Rechercher</button>
                        </div>
                    </form>
                    {% if 'amana.add_provider' in user.get_all_permissions %}
                    <div
                        style="width: 100%;display: flex;align-items: flex-end;justify-content: flex-end;flex-direction: column;">
                        <a href="{% url 'add_provider'%}" class="btn btn-outline-success">Ajouter un prestataire</a>
                    </div>
                    {% endif%}
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Prestataire</th>
                            <th scope="col">Type</th>
                            <th scope="col">Responsable</th>
                            {% if 'amana.view_provider' in user.get_all_permissions or 'amana.change_provider' in user.get_all_permissions or 'amana.delete_insured' in user.get_all_permissions %}
                            <th scope="col">Actions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for provider in providers %}
                        <tr>
                            <td scope="row" style="padding-top: 12px;">{{ provider.name }}</td>
                            <td scope="row" style="padding-top: 12px;">{{ provider.type }}</td>
                            <td scope="row" style="padding-top: 12px;">{{ provider.responsable }}</td>
                            <td>
                                {% if 'amana.change_provider' in user.get_all_permissions%}
                                <a href="{% url 'change_provider' provider.id %}" class="btn btn-success btn-sm"><i
                                        class="bi bi-pencil"></i></a>
                                {% endif %}
                                {% if 'amana.delete_insured' in user.get_all_permissions %}
                                <a href="javascript:void(0)" class="btn btn-danger btn-sm delete"
                                data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ provider.id }}"><i
                                        class="bi bi-trash"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if providers.has_other_pages %}
                <nav class="nav_pagination">
                    <ul class="pagination">
                        {% if providers.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ providers.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for num in providers.paginator.page_range %}
                        {% if providers.number == num %}
                        <li class="page-item">
                            <div class="page-link">{{ num }}</div>
                        </li>
                        {% elif num > providers.number|add:'-5' and num < providers.number|add:'5' %} <li class="page-item"><a
                                class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if providers.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ providers.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </section>
</main>
<div class="modal fade" id="deleteModal" tabindex="-1" data-bs-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suppression du prestataire</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer ce prestataire ? Cette action est irréversible et toutes les données associées à ce prestataire seront définitivement perdues.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Supprimer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}