{% extends 'base.html' %}
{% block title %}gestion des assurances{% endblock %}
{% block script %}insurance.js
{% endblock %}
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Liste des assurances</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <div>Accueil</div>
                </li>
                <li class="breadcrumb-item">Assurances</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <div
                    style="width: 100%; display: flex;align-items:center;justify-content:space-between;flex-direction: row;margin-top: 20px;margin-bottom: 20px;">
                    <form
                        style="width: 100%;display: flex;align-items: flex-start;justify-content: flex-start;flex-direction: row;"
                        method="POST">
                        {% csrf_token %}
                        <div class="col">
                            <div class="input-group" style="width: 500px;">
                                <span class="input-group-text"><i class="bi bi-search"></i></span>
                                <input type="text" class="form-control" id="search" name="search"
                                    placeholder="Recherchez un assurance avec la police" value="{{ search_query }}">
                            </div>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-success" style="margin-left: 10px;">Rechercher</button>
                        </div>
                    </form>
                    <div
                        style="width: 100%;display: flex;align-items: flex-end;justify-content: flex-end;flex-direction: row;">
                        {% if 'amana.view_insurance' in user.get_all_permissions %}
                        <a href="{% url 'insurance'%}" class="btn btn-outline-primary" style="margin-right: 10px;">Visualisation</a>
                        {% endif%}
                        {% if 'amana.add_insurance' in user.get_all_permissions %}
                        <a href="{% url 'add_insurance'%}" class="btn btn-outline-success">Ajouter un assurance</a>
                        {% endif%}
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col" >Numéro d'attestation</th>
                            <th scope="col">Numéro de police</th>
                            <th scope="col">Période</th>
                            <th scope="col">Type d'assurance</th>
                            <th scope="col">Prime</th>
                            <th scope="col">Acompte</th>
                            <th scope="col">Solde</th>
                            {% if 'amana.change_insurance' in user.get_all_permissions or 'amana.delete_insurance' in user.get_all_permissions %}
                            <th scope="col">Actions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for insurance in insurances %}
                        <tr>
                            <td scope="row" style="padding-top: 12px;">{{ insurance.date|date:"d F Y" }}</td>
                            <td style="padding-top: 12px;" class="text-primary">{{insurance.certificate_number}}</td>
                            <td style="padding-top: 12px;">{{insurance.policy_number}}</td>
                            <td style="padding-top: 12px;">{{insurance.period}}</td>
                            <td style="padding-top: 12px;">{{insurance.insurance_type}}</td>
                            {% if insurance.payement_method == "En euro" %}
                            <td style="padding-top: 12px;">{{insurance.premium}} €</td>
                            <td style="padding-top: 12px;">{{insurance.deposit}} €</td>
                            {% else %}
                            <td style="padding-top: 12px;">{{insurance.premium}} KMF</td>
                            <td style="padding-top: 12px;">{{insurance.deposit}} KMF</td>
                            {% endif%}
                            {% if insurance.payement_method == "En euro" %}
                            {% if insurance.balance > 0 %}
                            <td style="padding-top: 12px;">
                                <span class="text-danger">{{insurance.balance}} €</span>
                            </td>
                            {% elif insurance.balance == 0 %}
                            <td style="padding-top: 12px;">
                                <span class="text-success">{{insurance.balance}} €</span>
                            </td>
                            {% endif%}
                            {% else %}
                            {% if insurance.balance > 0 %}
                            <td style="padding-top: 12px;">
                                <span class="text-danger">{{insurance.balance}} KMF</span>
                            </td>
                            {% elif insurance.balance == 0 %}
                            <td style="padding-top: 12px;">
                                <span class="text-success">{{insurance.balance}} KMF</span>
                            </td>
                            {% endif%}
                            {% endif%}
                            <td>
                                {% if 'amana.change_insurance' in user.get_all_permissions%}
                                <a href="{% url 'change_insurance' insurance.id %}" class="btn btn-success btn-sm"><i
                                        class="bi bi-pencil"></i></a>
                                {% endif %}
                                {% if 'amana.change_insurance' in user.get_all_permissions%}
                                <a href="{% if insurance.balance == 0 %}javascript:void(0){% else %}{% url 'payment_insurance' insurance.id %}{% endif %}"
                                class="btn btn-primary btn-sm">
                                <i class="bi bi-cash-coin"></i>
                                </a>
                                {% endif %}
                                {% if 'amana.delete_insurance' in user.get_all_permissions %}
                                <a href="javascript:void(0)" class="btn btn-danger btn-sm delete"
                                data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ insurance.id }}"><i
                                        class="bi bi-trash"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if insurances.has_other_pages %}
                <nav class="nav_pagination">
                    <ul class="pagination">
                        {% if insurances.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ insurances.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for num in insurances.paginator.page_range %}
                        {% if insurances.number == num %}
                        <li class="page-item">
                            <div class="page-link">{{ num }}</div>
                        </li>
                        {% elif num > insurances.number|add:'-5' and num < insurances.number|add:'5' %} <li class="page-item"><a
                                class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if insurances.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ insurances.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </section>
</main>
<div class="modal fade" id="deleteModal" tabindex="-1" data-bs-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suppression de l'assurance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cet assurance ? Cette action est irréversible et toutes les données associées à cet assurance seront définitivement perdues.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Supprimer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}